* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    
    --color-base-white: #FFFFFF;
    --background-color-cyan: #f5f5f5;
    --font-color-black: #202024
    --font-span-color: #8D8D99;
    
}

body,button, input {
    font-family: "Mulish", sans-serif;
}
body {
    font-size: 1.6rem;
}

.box {
    display: grid;
    grid-template-rows: max-content 1fr max-content;
    height: 100vh;
}

header, nav, nav ul, footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7rem;
    font-weight: 700;
}

ul li {
    list-style: none;
    color: var(--background-color-cyan);
    font-size: 1.8rem;
}

ul li.span {
    color: black;
}

#user-image {
    width: 4.2rem;
    height: 4.2rem;

    border-radius: 50%;
    object-fit: cover;
}

header form {
    flex: 1;
}

main {
    background: var(--background-color-cyan);
    overflow-y: auto;
}


.container {
    width: min(112rem, 100%);
    margin: 0 auto;

    padding: 1.6rem 3.2rem;
}

.input-wrapper label {
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
}

.input-wrapper input{
    width: 100%;
    height: 4.8rem;
    padding: 1.6rem;

    background: var(--background-color-cyan);
    border: none;
    border-radius: 0.5rem;

    font-size: 1.6rem;
    font-weight: 700;
    opacity: 0.56;
}

main h1 {
    font-size: 2,4rem;
    padding-top: 1.6rem;
}

#gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.2rem;

    margin-top: 3.2rem;
}

.items {
    background: var(--color-base-white);

    border-radius: 1rem;
    overflow: hidden;
}

.details {
    padding: 2.2rem;

    background-color: var(--color-base-white);
    z-index: 1;
    position: relative;
}

.details h2 {
    font-size: 1.8rem;
}

.items img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    transition: all 1s ease-out;


}

.items img:hover {
    filter: hue-rotate(10deg) contrast(109%) saturate(200%);
    transform: scale(1.1) rotate(3deg);
}

.tags {
    padding-top: 1.2rem;
}

.tags span {
    padding: 0.5rem;
    background: var(--background-color-cyan);
    border-radius: 0.8rem;

    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
}

